#Configuration info
[Project Info]
    Project      = lemonadep
    McxConfig    = lahaina_lemonadep.xml
    McxConfigCTS = lahaina_lemonadep_cts.xml
    RearCameraOffsetForITS  = 0300000
    FrontCameraOffsetForITS = 2700000

[SensorModuleConfiguration]
    storagePath = /odm/lib64/camera
    binName     = lemonadep

[HWComponentSupport]
    laserSupport          = true
    RearflickerSupport    = true
    FrontflickerSupport   = false
    OISSysSupported       = false

[QuickSnapshotMatching]
    #logicalCameraId          FRONT    Wide    UltraWide
    QuickSnapshotCameraIdList = 1;      0;         2

[EnableQuickSnapshot]
    #operation mode
    EnableCameraMode = 0x8001; 0x8011;
    EnableFlash = TRUE

[BootPinsoLoad]
    IsLoadPinso  = true

[PinFiles]
    so[0]=/vendor/lib64/libllvm-qcom.so;
    so[1]=/vendor/lib64/libcvface_api.so;
    so[2]=/odm/lib64/libarcsoft_dual_sat.so;
    so[3]=/vendor/lib64/com.qti.feature2.statsregeneration.so;
    so[4]=/vendor/lib64/com.qti.feature2.ml.so;
    so[5]=/vendor/lib64/libCB.so;
    so[6]=/vendor/lib64/com.qti.feature2.qcfa.so;
    so[7]=/odm/lib64/libtriplecam_video_optical_zoom.so;
    so[8]=/vendor/lib64/com.qti.feature2.derivedoffline.so;
    so[9]=/odm/lib64/liboptical_zoom_dc.so;
    so[10]=/odm/lib64/libtriplecam_optical_zoom_control.so;
    so[11]=/vendor/lib64/com.qti.feature2.stub.so;
    so[12]=/odm/lib64/libarcsoft_eis_wrapper.so;
    so[13]=/vendor/lib64/libsensorndkbridge.so;
    so[14]=/odm/lib64/libarcsoft_triple_sat.so;
    so[15]=/vendor/lib64/libcamxtintlessalgo.so;
    so[16]=/vendor/lib64/com.qualcomm.mcx.distortionmapper.so;
    so[17]=/odm/lib64/libSNPE.so;
    so[18]=/odm/lib64/libaisal.so;
    so[19]=/odm/lib64/libarcsoft_videoautozoom.so;
    so[20]=/odm/lib64/libsnpe_dsp_domains_v3.so;

[Stella Group]
    InstanceName = WUTONG
    StellaEnable = true

[CamThreadOptConfig]
    SupportModeList = 0x8001; 0x8021; 0x800b

[QuickJPEG]
    isQuickJPEGenable = TRUE

[OPPackageName Group]
    SystemCamera    = com.oppo.camera; com.oplus.camera
    FactoryMode     = com.oplus.engineercamera
    OPFaceUnlock    = com.oneplus.faceunlock
    OPlusMMS        = com.oneplus.mms
    EngineerMode    = com.oplus.engineercamera

[OemCommonCapbility]
    SkipMonoForSAT  = true
    isNotOverrideForShdrOrMfhdr = true
    isMulticamIZOOM = true
    RTYUVOutputCap  = 3840; 1800
    MulticamOverrideStaticCaps = true
    bhasMonoSensor = true
    is3pMfnrEnabled = TRUE
    isQcomHDRfeaturedisable = TRUE
    MaxSensitivityBoost = 6399
    isGetInitialActiveCameraMask = TRUE
    SatType = 2
    OnpointType = 2
    disableZSLatModeSwitch = TRUE
    enableFOVCforVideoMode = TRUE
    isCaptureModeVideoSHDREnabled = TRUE
    isQcomHDRfeaturedisable = TRUE
    MonoCameraId = 4
    useCustomSATPipeline = TRUE
    needSkipPreviewForFaceBeauty = TRUE
    disableDebugDataCopyFullSize = TRUE
    SkipOverrideMetaForFD = TRUE
    ValidateZSLConfig = TRUE
    isZslOutputBufferSameAsSensor = TRUE
    isITSEffectSubMode = FALSE
    SinglecamOverrideStaticCaps = TRUE
    isSeamlessHDRVideoEnabled = TRUE
    isHasselbladRaw = TRUE
    isSuperSteadyEISEnabled = TRUE
    needSkipPreview4TestPatternVideo = 8
    UseSauV2 = TRUE
    disableTeleOISinVideoMode = TRUE

[OrmsConfig]
    enableHypnus = 1
    UseOrmsForThirdApp = TRUE;
    FPCaptureActionTimeout = 800
    extendedPerf = TRUE

[PowerConfiguartion]
    PerfControl                    = true
    PortraitModeFrameControl       = true
    PortraitModeFpsLow             = 24
    PortraitModeFpsHigh            = 24
    CameraWideNum                  = 0
    CameraUltraNum                 = 2
    CameraSatNum                   = 5
    DeferStreamPowerOnControl      = true
    IsDisablePortraitCaptureORMS   = true
    DisableCaptureBoostMode        = 0x8001;0x8010;0x8011;0x8019

[MultiCameraVirtualSuperGraph]
    #ChiFeature2Type          HDR TWOHDR THREEHDR
    Common                   = 6;    40;     41;

[ActuatorConfig]
    ParkLensDelayTime  = 10

[SupportMaxUIZoomRatio]
    MaxUIZoomRatio  = 30.0

[EngineercameraConfig]
    # The size of this list should equal to m_numLogicalCameras
    engineercamera.jpeg.size.QCFA = 1; 0; 1; 1; 1; 1;
    custom.raw.size.QCFA          = 1; 0; 1; 1; 1; 1;
    isOplusEngineermode           = 0
    isOplusDualLedCalibration     = 1
    isOplusDualLedUseSensorName   = 0

[OemCamxSettings]
    enableInSensorZoom      = true
    HALOutputBufferCombined = true
    enable3ADebugData       = true
    enableXPAN3EV           = true
[EarlyPCRConfig]
    isEnable = true

[QCEISOverrideFrameDelay]
    adjustFrameDelayDynamically  =  TRUE
    #operation mode     operation_mode        fps            memAvailable    framedelay
    Mode[0]        =     0xF01C;              60;                1920;          10      #60fps

[NcsTOFlink]
    isDisableNcsTof = true

[DeactiveSensor]
    notSupport4KSensor      = ov08a10
    monoSensor              = gc02m1b

[SensorDPCSupport]
    #Enable/Disable Sensor DPC
    EnableSensorDPC      = true
    SonySensorName       = imx471
    SonyEepromName       = imx471
    CrosstalkDataOffset  = 0x1400
    CrosstalkValidOffset = 0x0EC0
    CrosstalkValidFlag   = 0x01
    CrosstalkDataSize    = 560

[DeactiveSensor]
    notSupport4KSensor   = ov08a10
    monoSensor           = gc02m1b

[SATsHDR]
    is4KEnable     = true
    #operation mode     operation_mode     LogicalCameraId
    Mode[0]        =     0x840B;            5                #SHDR VIDEO

[HDR4Snapshot]
    HDRstoreFrame = 2
    HDRreprocessFrame = 4

[EISNode]
    HISEnable           = true
    ForceDisableDIS     = true
    CenterOnCameraId    = 1; 2; 3
    HasOISCameraIdList  = 0x1

[QCEISRollingShutterSkew]
    needCalibrateRollingShutterSkew  =  true;
    #                   operation_mode     sensor_mask     isInsensor3hdr     factor
    Mode[0]        =     0x800b;             0x0004;              0;            2      #TELE
    Mode[1]        =     0xa020;             0x0004;              0;            2      #TELE
    Mode[2]        =     0xa020;             0x0002;              1;            2      #Main

[QCEISOverrideMargins]
    IsNeedOverrideMargins  =  true;
    #                   dim_width          dim_heigth          margin_x       margin_y
    Mode[0]        =     3840;               1644;              160000;        520000   #21:9,4K
    Mode[1]        =     1920;                822;              160000;        520000   #21:9,1080P

[OemCameraTypeMap]
    #             LogicalId  CameraType
    Mode[0]      =    0;        0
    Mode[1]      =    1;        1
    Mode[2]      =    2;        2
    Mode[3]      =    3;        6
    Mode[4]      =    4;        13
    Mode[5]      =    5;        12

[OemSupportedCustomImageSizes0]
    ImageSizes[0]  = 4000;  1818    # 2.7:1
    ImageSizes[1]  = 8000;  3636    # 2.7:1
    ImageSizes[2]  = 960;   1080    # dual video split
    ImageSizes[3]  = 1920;  1080    # dual video  circle/rectangle
    ImageSizes[4]  = 464;  464      # dual video  circle
    ImageSizes[5]  = 640;  368      # dual video  rectangle

[OemSupportedCustomImageSizes1]
    ImageSizes[0]  = 4000;  1818     # 2.7:1
    ImageSizes[1]  = 960;   1080     # dual video split
    ImageSizes[2]  = 1920;  1080     # dual video  circle/rectangle
    ImageSizes[3]  = 464;   464      # dual video  circle
    ImageSizes[4]  = 640;   368      # dual video  rectangle
    ImageSizes[5]  = 2304;  1728     # Front supernight
    ImageSizes[6]  = 4608;  2080     # Front FULL aspect ratio
    ImageSizes[7]  = 4608;  3456     # Front portrait
    ImageSizes[8]  = 4608;  2592     # Front 16:9
    ImageSizes[9]  = 3456;  3456     # Front 1:1

[OemSupportedCustomImageSizes2]
    ImageSizes[0]  = 4000;  1818    # 2.7:1
    ImageSizes[1]  = 8000;  3636    # 2.7:1
    ImageSizes[2]  = 4096;  2304    # 16:9


[OemSupportedCustomImageSizes3]
    ImageSizes[0]  = 3840;  1644    #movie mode

[OemSupportedCustomImageSizes5]
    ImageSizes[0]  = 4000;  1818    # 2.7:1
    ImageSizes[1]  = 8000;  3636    # 2.7:1
    ImageSizes[2]  = 4096;  2304
    ImageSizes[3]  = 4000;  2250
    ImageSizes[4]  = 4096;  3072    # 4:3 SAT
    ImageSizes[5]  = 4000;  3000    # 4:3 SAT
    ImageSizes[6]  = 3072;  3072    # 1:1 SAT
    ImageSizes[7]  = 3000;  3000    # 1:1 SAT
    ImageSizes[8]  = 4000;  1824    # FULL SAT
    ImageSizes[9]  = 4096;  1840    # FULL SAT
    ImageSizes[10] = 3264;  1488    # FULL SAT

[OemGsiCamxSettings]
    disablePartialMetadata = TRUE

[EarlySATLPM]
    EarlyLPM = true

[FDManager]
    OverWriteAPReqest  = false
    fdSupport          = true
    publishFDDToApp    = true
    isAdjustFDInterval = true
    isBindCore         = true
    bindLittleCore     = true
    GendorFactor       = 100
    skipSlowVideoFD    = true

[IPESizeSwitch]
    isNeedEnable = 1;
    #                  sensor_mask  input_height   IPEwidth   IPEheight
    Mode[0]         =    0x0001;      480;          1440;      1080  #Main 480P
    Mode[1]         =    0x0001;      720;          1440;      1080  #Main 720P
    Mode[2]         =    0x0002;      480;          1440;      1080  #Front 480P
    Mode[3]         =    0x0002;      720;          1440;      1080  #Front 720P

[SATSwitchRatio]
   #camera ultra-wide    wide   tele
   Ratio =    0.66;      1.0;   3.3

[SATEarlyEnableTeleZoomRatio]
    # SAT need enable tele early zoom ratio
    RatioPhoto = 1.5
    RatioVideo = 2.0

[LeaveMacroEarlyEnableWideFocusThreshold]
    # macro focusDistCm is 25cm ,when will be leave macro, early open wide camera
    FocusDistCm = 20;

[SATASFallbackParameters1]
    #AS fallback parameters  FromCamera  ToCamera  focusDistThreshold:Start-End-Delta   timeInterval:Fallback-Recovery
    Fallback[0]         =       1;          0;          0;      0;      0;                 500;      0xFFFFFFFF     #enable fallback WIDE -> ULTRA
    Fallback[1]         =       2;          1;         -1;     50;     20;                 500;         500         #enable fallback TELE -> WIDE

[SATASFallbackParameters2]
    #AS fallback parameters  userRatioRangeStart  userRatioRangeEnd
    UserRatioRange1     =        1.0;                 10.0        #enable fallback WIDE -> ULTRA
    UserRatioRange2     =        1.0;                 10.1        #enable fallback TELE -> WIDE
    #AS fallback parameters  luxIndexThresholdStart  luxIndexThresholdEnd    luxIndexThresholdDelta
    LuxIndexThreshold1  =        0.0;                    0.0;                       0.0        #enable fallback WIDE -> ULTRA
    LuxIndexThreshold2  =       395.0;                  600.0;                     30.0        #enable fallback TELE -> WIDE

[PackageNameOfSpecialCase]
    IsNeedBypassTOF     = android.camera.cts
    IsNeedFaceBeauty    = com.tencent.mm; com.tencent.mobileqq; com.alibaba.android.rimet; com.tencent.wemeet.app; com.tencent.wework; us.zoom.videomeetings

[OisESDTag]
    OisESDMask          = OisESD

[SensorPowerUpInAdvance]
    IsPowerUpinAdvance   = true
    SensorName           = imx789
    logicalCameraId      = 5

[OisPowerUpInAdvance]
    IsPowerUpinAdvance   = true
    SensorName           = ov08a10
    OisDevice            = /dev/v4l-subdev20
    logicalCameraId      = 5;  3

[3ADrawsomething]
    NodePropertyCheck    = 0

[OemMfnrConfig]
    EnablePublishMfnrInfo       = true
    EnableCouplehdrAnchorSelect = true
    MaxCHDRFrameSelect          = 3
    GyroTripod                  = 0.01
    FrameWeighting              = 10.0; 9.5; 9.2; 9.1; 9.0

[StabilityDebug]
    isNeedTimer = true

[MultiCameraCalibrationInformation]
    IsUsedMetaCalibData       = TRUE
    IsUsedOTPCode             = TRUE
    RMQRCodeFilePath          = /mnt/vendor/persist/dual_camera_calibration/imx789_qrcode_start_OTP.txt
    RWQRCodeFilePath          = /mnt/vendor/persist/dual_camera_calibration/imx766_qrcode_start_OTP.txt
    RW2QRCodeFilePath         = /mnt/vendor/persist/dual_camera_calibration/imx686_qrcode_start_OTP.txt
    RTQRCodeFilePath          = /mnt/vendor/persist/dual_camera_calibration/ov08a10_qrcode_start_OTP.txt
    #binning factor of calibration image ultra-wide wide tele
    BinningFactor             = 2;    2;   1
    RWMCaliSize               = 2048
    RWTCaliSize               = 2048
    RWMDualCaliDataPath       = /mnt/vendor/persist/dual_camera_calibration/calibrationOutput_uw
    RWTDualCaliDataPath       = /mnt/vendor/persist/dual_camera_calibration/calibrationOutput_wt
    RWMDualCaliDataBackupPath = /odm/etc/camera/calibrationOutput_uw.bin
    RWM2DualCaliDataBackupPath = /odm/etc/camera/calibrationOutput_uw_686.bin
    RWTDualCaliDataBackupPath = /odm/etc/camera/calibrationOutput_wt.bin
    #TripleSatLibPath          = /odm/lib64/libtriplecam_optical_zoom_control.so

[DistortionCalibrationInformation]
    DistortionCaliSize        = 256
    DistortionCaliDataPath    = /odm/etc/camera/distortion_result.bin

[OemCamSensorSettingMap]
    #operation mode     operation_mode     sensor_mask        feature_mask         index
    Mode[0]      =        0x8001;            0x0001;            0x0000;            1 #notesApp 0
    Mode[1]      =        0x8001;            0x0001;            0x0004;            2 #COMMON SAT 0
    Mode[2]      =        0x8001;            0x0004;            0x0004;            1 #COMMON SAT 2
    Mode[3]      =        0x8001;            0x0008;            0x0004;            0 #COMMON SAT 3
    Mode[4]      =        0x8011;            0x0001;            0x0000;            6 #RTB_1X 0
    Mode[5]      =        0x8011;            0x0004;            0x0000;            4 #RTB_1X 2
    Mode[6]      =        0x8010;            0x0001;            0x0000;            7 #RTB_2X 0
    Mode[7]      =        0x8010;            0x0004;            0x0000;            5 #RTB_2X 2
    Mode[8]      =        0x8019;            0x0001;            0x0004;           12 #SUPERNIGHT_0
    Mode[9]      =        0x8019;            0x0004;            0x0004;            1 #SUPERNIGHT_2
    Mode[10]     =        0x8019;            0x0008;            0x0004;            0 #SUPERNIGHT_3
    Mode[11]     =        0x8009;            0x0001;            0x0000;           11 #Professional 0
    Mode[12]     =        0x8021;            0xFFFF;            0x0000;            2 #60fps video 0
    Mode[13]     =        0x8007;            0xFFFF;            0x0000;            1 #Panorama mode
    Mode[14]     =        0x80A5;            0x0004;            0x0000;            1 #HYPERLAPSE 2
    Mode[15]     =        0x802C;            0x0001;            0x0000;            1 #DUAL  VIEW VIDEO 3
    Mode[16]     =        0x802C;            0x0002;            0x0000;            1 #DUAL  VIEW VIDEO 1
    Mode[17]     =        0x800C;            0x0001;            0x000C;            1 #Timelapse_0
    Mode[18]     =        0x800C;            0x0004;            0x000C;            1 #Timelapse_2
    Mode[19]     =        0x800C;            0x0008;            0x000C;            0 #Timelapse_3
    Mode[20]     =        0x800B;            0x0001;            0x000C;            1 #30fps video SAT HDR OFF 0
    Mode[21]     =        0x800B;            0x0004;            0x000C;            1 #30fps video SAT HDR OFF 2
    Mode[22]     =        0x800B;            0x0008;            0x000C;            0 #30fps video SAT HDR OFF 3
    Mode[23]     =        0x80A2;            0x0001;            0x0000;           12 #Night_Video_0
    Mode[24]     =        0x80A2;            0x0004;            0x0000;            1 #Night_Video_2
    Mode[25]     =        0x8019;            0x0002;            0x0000;            3 #suprnight_1
    Mode[26]     =        0x8028;            0x0001;            0x0000;            1 #Ultra Steady
    Mode[27]     =        0x8028;            0x0004;            0x0000;            1 #Ultra Steady Pro
    Mode[28]     =        0x800B;            0x0001;            0x0008;            1 #Video Portrait
    Mode[29]     =        0x800B;            0x0001;            0x000E;            3 #30fps video SAT HDR ON 0
    Mode[30]     =        0x800B;            0x0004;            0x000E;            3 #30fps video SAT HDR ON 2
    Mode[31]     =        0x800B;            0x0008;            0x000E;            0 #30fps video SAT HDR ON 3
    Mode[32]     =        0x8001;            0x0001;            0x0024;            5 #COMMON SAT 0 for IZOOM
    Mode[33]     =        0x80AC;            0x0001;            0x0110;           16 #Xpan 45mm Snapshot
    Mode[34]     =        0x80AC;            0x0004;            0x0110;            7 #Xpan 30mm Snapshot
    Mode[35]     =        0x80AC;            0x0001;            0x0100;           17 #Xpan 45mm Preview
    Mode[36]     =        0x80AC;            0x0004;            0x0100;            8 #Xpan 30mm Preview
    Mode[37]     =        0x80AD;            0x0001;            0x0008;           12 #videoUltraNightMode 0
    Mode[38]     =        0x80AD;            0x0004;            0x0008;            1 #videoUltraNightMode 2
    Mode[39]     =        0x80AB;            0x0001;            0x0004;            1 #MonoMode 1
    Mode[40]     =        0x80AB;            0x0010;            0x0004;            0 #MonoMode 4
    Mode[41]     =        0x8009;            0x0004;            0x0000;            1 #Professional 2
    Mode[42]     =        0x8009;            0x0008;            0x0000;            0 #Professional 3
    Mode[43]     =        0x80AE;            0x0004;            0x0008;            6 #8k30fps video 2
    Mode[44]     =        0x800B;            0x0001;            0x020E;           15 #30fps video 0 SeamlessHDR
    Mode[45]     =        0x800B;            0x0004;            0x020E;            3 #30fps video 2 SeamlessHDR
    Mode[46]     =        0x800B;            0x0008;            0x020E;            0 #30fps video 3 SeamlessHDR
    Mode[47]     =        0x80AE;            0x0001;            0x0008;            0 #8k30fps video 0
    Mode[48]      =       0x8001;            0x0001;            0x0010;            0 #48MP rear capture

[BokehConfigureInformation]
    #zoom            1X      2X
    masteridList  =  0;      0
    ForceMasterID = TRUE
    sensorzoomcrop = 2.0

[OemSATZoomRange]
    #satZoomRange   OPLUS_SAT_MIN_ZOOM  OPLUS_SAT_MAX_ZOOM   OPLUS_DEFAULT_ZOOM  OPLUS_DEFAULT_ZOOM_STEP
    satZoomRange =  0.66;             30.0;                1.0;                 0.1

[NightMode]
    # 0 MipiRaw   1 IfeIdealRaw  2 BpsIdealRaw
    DarkSightRawCBType  = 2
    SuperNightRawCBType = 2

[ProMode]
    # raw call back type , 0--mipi raw / 1--IFE ideal raw / 2--BPS ideal raw
    RawCbType = 0

[CameraIdMap]
    SINGLE_CAMERA = 0; 1; 2; 3; 4
    MCX_CAMERA    = 5

[SatSmoothZoom]
    isOemUpdateLpm       = TRUE
    isDivideZoomRatio    = TRUE
    dualSATOperationMode = 0x8021; 0x8019

[DivideZoomRatio]
    isUseCropRegion               = FALSE
    pointZoomRatio                = 0.66;    1.0;    3.3;    5.0;    10.0
    #commonSATCameraMasterIndex   =  0;      1;      2;       2;       2
    #dualSATCameraMasterIndex     =  0;      1;      1;       1;       1
    scaleThresholdRatioRange      = 0.5;     3.3;    3.3;    5.0;    5.0;    10.0;    10.0;    30.1
    upPointScaleRatioThreshold    =     0.14;            0.2;            0.2;              0.3;
    downPointScaleRatioThreshold  =     0.15;           0.22;           0.22;             0.33;
    commonScaleRatioThreshold     =     0.3;             0.5;            100;              100;
    pauseFrameNum                 = 0
    #pointZoomTransitionFrameRate = 25.0

[UltraWideStrategy]
    ratioRange                  = 0.5;    1.0
    subStrategyRatioRangeList   = 0.5;    1.0
    zoomInActiveMapList         =      0x3
    fixActiveMapList            =      0x1
    zoomUpActiveMapList         =      0x3
    zoomOutActiveMapList        =      0x3
    upwardTransitionActiveMap   = 0x3
    downwardTransitionActiveMap = 0x1

[WideStrategy]
    ratioRange                  = 1.0;    3.3
    subStrategyRatioRangeList   = 1.0;    1.01;   1.01;   2.0;     2.0;   3.3
    zoomInActiveMapList         =      0x2;            0x2;            0x6
    fixActiveMapList            =      0x2;            0x2;            0x6
    zoomUpActiveMapList         =      0x3;            0x2;            0x6
    zoomOutActiveMapList        =      0x2;            0x2;            0x6
    upwardTransitionActiveMap   = 0x6
    downwardTransitionActiveMap = 0x3

[TeleStrategy]
    ratioRange                  = 3.3;    30.1
    subStrategyRatioRangeList   = 3.3;    5.0;    5.0;   10.0;   10.0;   30.1
    zoomInActiveMapList         =      0x6;           0x6;            0x4
    fixActiveMapList            =      0x6;           0x4;            0x4
    zoomUpActiveMapList         =      0x6;           0x6;            0x4
    zoomOutActiveMapList        =      0x6;           0x6;            0x4
    upwardTransitionActiveMap   = 0x4
    downwardTransitionActiveMap = 0x6

[SatFallback]
    isUseArcSoftFallback  = FALSE
    enableAppFallbackCtrl = TRUE
    isTOFSensorAvailable  = TRUE

[fallbackDetectThreshs]
    #luxFallback                   FallbackTriggerUpperThreshHold   FallbackTriggerLowerThreshHold   lowLightUpperThresh    lowLightLowerThresh
    luxThreshsForSATPhotoMode  =             385;                              367;                        500;                    480
    luxThreshsForSATNightMode  =             420;                              390;                        500;                    480
    luxThreshsForSATVideoMode  =             420;                              390;                        500;                    480
    luxThreshsForSATTripodMode =             460;                              430;                        500;                    480
    #afFallback                    DetectFactor   RecoverFactor   MoveSceneWideDetectFactor   MoveSceneWideRecoverFactor   MoveSceneTeleDetectFactor   MoveSceneTelekRecoverFactor
    afThreshsForSATPhotoMode   =       1.0;           1.1;                  1.0;                       1.5;                         0.5;                        2.0
    afThreshsForSATNightMode   =       1.0;           1.1;                  1.0;                       1.5;                         0.5;                        2.0
    afThreshsForSATVideoMode   =       1.0;           1.1;                  1.0;                       1.5;                         0.5;                        2.0
[OemSelectUsecaseZSL]
                   #operation mode   number_of_streams   sensor_mask
    isMatch[0]  =    0x8001;               4;             0x0001       # 3rd call system camera rear photo mode(only wide)
    isMatch[1]  =    0x8009;               3;             0x000D       # professional mode of wide, ultra, tele(0x1101 = 0xD)

[ZoomRange]
    custom.video.zoom.range = 0.66; 10; 1; 0.1
    custom.video.60fps.zoom.range = 0.66; 10; 1.0; 0.1

[OemRequestAvailableCapabilities]
    #3rd app can't access system camera
    SystemCamera =  0;  0;  0;  0;  0;  1

[AppDisplayRegion]
    IsConsiderZoomRatio = TRUE

[IZoomCaps]
    izoomrange = 2.06; 3.3

[OemPipelines]
    EngCameraSATPipelineName = MultiCameraSATEngineerCamera
    Fusion10BitPipelineName  = MultiCameraSAT10Bit
    CustomFusionPipelineName = MultiCameraCustomDualSAT
    FusionMFHDR10BitPipelineName  = MultiCameraSATWithMFHDR10Bit
    CustomFusionMFHDRPipelineName = MultiCameraCustomSATWithMFHDR

[T2FOverrideAS]
    MCActiveSize = 8000; 6016

[MapYUVforB2Y]
    #                  operation_mode     sensor_mask
    Mode[0]         =     0x8009;            0x0008         #ProMode Tele

[AIAFTouch2track]
    #                  operation_mode     sensor_mask
    Mode[0]         =     0x800B;            0x0001         #COMMON VIDEO REAR

[OemCamGetModeUsecase]
    #operation mode     operation_mode     LogicalCameraId     StreamNum
    Mode[0]          =     0x8028;              0x0002;            3       #SuperStable Usecase
    Mode[1]          =     0x83AE;              0x0000;            3       #8k30fps video 0
    Mode[2]          =     0x80AD;              0x0000;            2       #SuperStable Usecase for videoUltraNightMode 0
    Mode[3]          =     0x80AD;              0x0002;            2       #SuperStable Usecase for videoUltraNightMode 2
    Mode[4]          =     0x83AE;              0x0002;            3       #8k30fps video 2
    Mode[5]          =     0x830B;              0x0000;            2       #Video portrait

    #usecase list
    Usecase[0]       =     UsecaseVideoEIS2PreviewEIS2SnapshotYUV
    Usecase[1]       =     UsecaseVideo8KEIS2PreviewEIS2SnapshotYUV
    Usecase[2]       =     UsecaseOPlusVideoEIS2PreviewEIS2
    Usecase[3]       =     UsecaseOPlusVideoEIS2PreviewEIS2
    Usecase[4]       =     UsecaseVideo8KEIS2PreviewEIS2SnapshotYUV
    Usecase[5]       =     UsecaseOPlusVideoEIS3PreviewEIS2

[SupportedImageSizes]
    #                  width height
    ImageSizes[0]   =   9248; 6944 # 64 MP
    ImageSizes[1]   =   9248; 3426 # 32 MP OPLUS_FEATURE_CAMERA_COMMON imx686 2.7:1
    ImageSizes[2]   =   8192; 6144 # 50 MP OPLUS_FEATURE_CAMERA_COMMON imx766 4:3
    ImageSizes[3]   =   8192; 3724 # 25 MP OPLUS_FEATURE_CAMERA_COMMON imx766 2.7:1
    ImageSizes[4]   =   8000; 6016 # 48 MP OPLUS_FEATURE_CAMERA_COMMON 4:3
    ImageSizes[5]   =   8000; 6000 # 48 MP
    ImageSizes[6]   =   8000; 3600 # OPLUS_FEATURE_CAMERA_COMMON 20:9
    ImageSizes[7]   =   8000; 3636 # OPLUS_FEATURE_CAMERA_COMMON 2.7:1
    ImageSizes[8]   =   7680; 4320 # 8K UHD
    ImageSizes[9]   =   6000; 6000 # OPLUS_FEATURE_CAMERA_COMMON 1:1
    ImageSizes[10]  =   6560; 4928 # OPLUS_FEATURE_CAMERA_COMMON 32MP
    ImageSizes[11]  =   4624; 3472 # 16MP
    ImageSizes[12]  =   4624; 2088 # OPLUS_FEATURE_CAMERA_COMMON 20:9
    ImageSizes[13]  =   4624; 1712 # OPLUS_FEATURE_CAMERA_COMMON imx686 2.7:1
    ImageSizes[14]  =   4608; 3456 # 16MP
    ImageSizes[15]  =   4608; 2256 # 12M OPLUS_FEATURE_CAMERA_COMMON 16:9
    ImageSizes[16]  =   4608; 2080 # OPLUS_FEATURE_CAMERA_COMMON 20:9
    ImageSizes[17]  =   4608; 2592 # 12MP
    ImageSizes[18]  =   4160; 3120 # 13MP
    ImageSizes[19]  =   4160; 1890 # OPLUS_FEATURE_CAMERA_COMMON 22:10
    ImageSizes[20]  =   4160; 1872 # OPLUS_FEATURE_CAMERA_COMMON 20:9
    ImageSizes[21]  =   4000; 3008 # OPLUS_FEATURE_CAMERA_COMMON 4:3
    ImageSizes[22]  =   4096; 3072 # OPLUS_FEATURE_CAMERA_COMMON imx766 4:3
    ImageSizes[23]  =   4096; 1840 # OPLUS_FEATURE_CAMERA_COMMON imx766 20:9
    ImageSizes[24]  =   4096; 1862 # OPLUS_FEATURE_CAMERA_COMMON imx766 2.7:1
    ImageSizes[25]  =   4000; 3000 #
    ImageSizes[26]  =   4000; 2250 # OPLUS_FEATURE_CAMERA_COMMON 16:9
    ImageSizes[27]  =   4000; 1800 # OPLUS_FEATURE_CAMERA_COMMON 20:9
    ImageSizes[28]  =   4000; 1818 # OPLUS_FEATURE_CAMERA_COMMON 2.7:1
    ImageSizes[29]  =   3840; 2880 # OPLUS_FEATURE_CAMERA_COMMON 4:3
    ImageSizes[30]  =   3840; 2160 #
    ImageSizes[31]  =   3840; 1644 #OPLUS_FEATURE_CAMERA_COMMON 21:9 for video
    ImageSizes[32]  =   3472; 3472 # OPLUS_FEATURE_CAMERA_COMMON 1:1
    ImageSizes[33]  =   3456; 3456 # OPLUS_FEATURE_CAMERA_COMMON 1:1
    ImageSizes[34]  =   3456; 2592 # OPLUS_FEATURE_CAMERA_COMMON 4:3
    ImageSizes[35]  =   3280; 2464 # OPLUS_FEATURE_CAMERA_COMMON Quad size of 32MP
    ImageSizes[36]  =   3264; 2448 # 8MP wide 289
    ImageSizes[37]  =   3264; 1836 # OPLUS_FEATURE_CAMERA_COMMON 16:9
    ImageSizes[38]  =   3264; 1472 #
    ImageSizes[39]  =   3264; 1208 # OPLUS_FEATURE_CAMERA_COMMON 2.7:1
    ImageSizes[40]  =   3200; 2400 # 8MP  290
    ImageSizes[41]  =   3168; 1440 # OPLUS_FEATURE_CAMERA_COMMON 22:10
    ImageSizes[42]  =   3120; 3120 # OPLUS_FEATURE_CAMERA_COMMON 1:1
    ImageSizes[43]  =   3072; 3072 # OPLUS_FEATURE_CAMERA_COMMON imx766 1:1
    ImageSizes[44]  =   3008; 3008 # OPLUS_FEATURE_CAMERA_COMMON 1:1
    ImageSizes[45]  =   3000; 3000 # OPLUS_FEATURE_CAMERA_COMMON 1:1
    ImageSizes[46]  =   2880; 2160 # OPLUS_FEATURE_CAMERA_COMMON 4:3
    ImageSizes[47]  =   2752; 2064 # jiajing.Liang@Cam 20200921 add for super eis
    ImageSizes[48]  =   2592; 1944 # 5MP
    ImageSizes[49]  =   2448; 2448 #
    ImageSizes[50]  =   2688; 1512 #
    ImageSizes[51]  =   2328; 1748 # OPLUS_FEATURE_CAMERA_COMMON cts Requirment
    ImageSizes[52]  =   2592; 1168 # OPLUS_FEATURE_CAMERA_COMMON 20:9
    ImageSizes[53]  =   2560; 1440 # Media CTS mandoatory resolution
    ImageSizes[54]  =   2376; 1080 # OPLUS_FEATURE_CAMERA_COMMON 22:10
    ImageSizes[55]  =   2304; 1728 # OPLUS_FEATURE_CAMERA_COMMON 4:3
    ImageSizes[56]  =   2304; 1296 # jiajing.Liang@Cam 20200921 add for move fast video
    ImageSizes[57]  =   2048; 1080 # Media CTS mandoatory resolution
    ImageSizes[58]  =   2160; 1080 # OPLUS_FEATURE_CAMERA_COMMON 2:1 Adapt to 3rd party camera
    ImageSizes[59]  =   1944; 1944 # OPLUS_FEATURE_CAMERA_COMMON 1:1
    ImageSizes[60]  =   1920; 1080 # 1080p
    ImageSizes[61]  =   1920; 864  # OPLUS_FEATURE_CAMERA_COMMON SAT max preview size for full res
    ImageSizes[62]  =   1920; 822  # OPLUS_FEATURE_CAMERA_COMMON CINE preview/rt yuv
    ImageSizes[63]  =   1600; 1200 # UXGA
    ImageSizes[64]  =   1600; 800  # OPLUS_FEATURE_CAMERA_COMMON 2:1
    ImageSizes[65]  =   1600; 720  # OPLUS_FEATURE_CAMERA_COMMON 20:9
    ImageSizes[66]  =   1600; 592  # OPLUS_FEATURE_CAMERA_COMMON 2.7:1
    ImageSizes[67]  =   1584; 720  # OPLUS_FEATURE_CAMERA_COMMON 22:10 for 3rd app
    ImageSizes[68]  =   1440; 1080 # Wide HD
    ImageSizes[69]  =   1280; 960  # SXGA
    ImageSizes[70]  =   1280; 768  # 1MP
    ImageSizes[71]  =   1024; 768  # OPLUS_FEATURE_CAMERA_COMMON 4:3 for google play
    ImageSizes[72]  =   1280; 720  # 720p
    ImageSizes[73]  =   1200; 1200 # OPLUS_FEATURE_CAMERA_COMMON 1:1
    ImageSizes[74]  =   1188; 540  # OPLUS_FEATURE_CAMERA_COMMON 22:10 for 3rd app
    ImageSizes[75]  =   1200; 540  # OPLUS_FEATURE_CAMERA_COMMON RT 20:9
    ImageSizes[76]  =   1080; 1080 # square
    ImageSizes[77]  =    840; 360  # OPLUS_FEATURE_CAMERA_COMMON RT 21:9
    ImageSizes[78]  =    800; 400  # OPLUS_FEATURE_CAMERA_COMMON 2:1 for 3rd Scan the QR code
    ImageSizes[79]  =    792; 360  # OPLUS_FEATURE_CAMERA_COMMON 22:10 for 3rd app
    ImageSizes[80]  =    720; 540  # OPLUS_FEATURE_CAMERA_COMMON RT 4:3
    ImageSizes[81]  =    720; 480  #
    ImageSizes[82]  =    640; 640  # OPLUS_FEATURE_CAMERA_COMMON RT 1:1
    ImageSizes[83]  =    640; 480  #
    ImageSizes[84]  =    640; 360  # OPLUS_FEATURE_CAMERA_COMMON RT 16:9
    ImageSizes[85]  =    352; 288  #
    ImageSizes[86]  =    320; 240  #
    ImageSizes[87]  =    176; 144  #

[OtherCamSensorSettingMap]
    #                             camera id  FPS    width    height  operation mode  setting index
    com.android.cts.verifier[0] =    1;      -1;     -1;       -1;         0;            1
    com.oplus.engineercamera[1] =    0;      -1;     -1;       -1;       0x9030;         6
    com.oplus.engineercamera[2] =    2;      -1;     -1;       -1;       0x9030;         4

[AFCapbility]
    supportFOVCCameraId = 5;

[AIAFSalientObj2track]
    DisableSalientObj2track = TRUE;

[OrmsActionOverride]
    CameraCloseTime  =   1000      # Keep the duration consistent with R

[fallbackDetectThreshs]
    luxThreshsForSATPhotoMode  =             385;                              367;                        500;                    480
    #luxFallback                   FallbackTriggerUpperThreshHold   FallbackTriggerLowerThreshHold   lowLightUpperThresh    lowLightLowerThresh
    luxThreshsForSATNightMode  =             420;                              390;                        500;                    480
    luxThreshsForSATVideoMode  =             385;                              367;                        500;                    480
    luxThreshsForSATVideoMode  =             385;                              367;                        500;                    480
    luxThreshsForSATTripodMode =             460;                              430;                        500;                    480
    #afFallback                    DetectFactor   RecoverFactor   MoveSceneWideDetectFactor   MoveSceneWideRecoverFactor   MoveSceneTeleDetectFactor   MoveSceneTelekRecoverFactor
    afThreshsForSATPhotoMode   =       1.0;           1.1;                  1.0;                       1.5;                         0.5;                        2.0
    afThreshsForSATNightMode   =       1.0;           1.1;                  1.0;                       1.5;                         0.5;                        2.0
    afThreshsForSATVideoMode   =       1.0;           1.1;                  1.0;                       1.5;                         0.5;                        2.0

[sensorAggregationsForSATVideoMode]
    numSensorAggregations      = 3
    zoomRange                  = 1.999;10.1;    1.999;10.1;    1.999;10.1
    activeMap                  = 4;             6;             6
    fallbacked                 = FALSE;         FALSE;         TRUE
    allowAFFallback            = TRUE;          TRUE;          TRUE
    allowTOFFallback           = FALSE;         FALSE;         FALSE
    allowLuxFallback           = TRUE;          TRUE;          TRUE
    master                     = 2;             2;             1
    recommendedMaster          = 2;             1;             1
    recommendedActiveState     = 6;             6;             6

[SensorAggregationsForSATPhotoMode]
    numSensorAggregations      = 9
    zoomRange                  = 0.6;1.0;     0.6;1.0;    1.0;1.999;    1.0;1.999;    1.0;1.999;    1.4;1.999;    1.999;10.1;    1.999;10.1;    1.999;10.1
    activeMap                  = 1;           3;          2;            3;            3;            6;            4;             6;             6
    fallbacked                 = FALSE;       FALSE;      FALSE;        FALSE;        TRUE;         FALSE;        FALSE;         FALSE;         TRUE
    allowAFFallback            = FALSE;       FALSE;      TRUE;         TRUE;         TRUE;         TRUE;         TRUE;          TRUE;          TRUE
    allowTOFFallback           = FALSE;       FALSE;      TRUE;         FALSE;        FALSE;        FALSE;        FALSE;         FALSE;         FALSE
    allowLuxFallback           = FALSE;       FALSE;      FALSE;        FALSE;        FALSE;        FALSE;        TRUE;          TRUE;          TRUE
    master                     = 0;           0;          1;            1;            0;            1;            2;             2;             1
    recommendedMaster          = 0;           0;          1;            0;            0;            1;            2;             1;             1
    recommendedActiveState     = 1;           3;          3;            3;            3;            3;            6;             6;             6

[SmomoEnable]
    frameworkFrameNum = 3

[Cpuset]
    EnableCpuset            = false
    DefaultBackgroundCpuset = 0-3
    DefaultForegroundCpuset = 0-6
    BackgroundMinCpuset     = 0-1

[FDMaxProcessFpsOperateMode]
    isEnableFunction            = TRUE;
    maxFPSWithFaces             = 25;
    maxFPSWithNoFaces           = 25;
    freq_face_back              = 25;
    freq_noface_back            = 6;
    #operateMode                      ctrl_code  enable_state  0:disable 1:enable
    Mode[0]                     =      0x8021;      1          #60FPS VIDEO MODE

[FDManagerDisableZoomFD]
    #operateMode                      ctrl_code  cam_id
    Mode[0]                     =      0x8021;      0          #60FPS VIDEO MODE
    Mode[1]                     =      0x8021;      2          #60FPS VIDEO MODE

[SmartPoolMatching]
    #Mode            captureMode  sensor_mask
    Mode[0]      =     0x8001;      0xFFFF       #COMMON MODE
    Mode[1]      =     0x800B;      0xFFFF       #COMMON VIDEO MODE
    Mode[2]      =     0x8021;      0xFFFF       #60FPS VIDEO MODE
    FrameworkFrameNum = 90

[AllocatebufferInMonitorThread]
    isSupport = TRUE
    timeInterval = 5000
    frameworkFrameNum = 10    #This function will be enabled after frame number > frameworkFrameNum or timeInterval later
    #           Device RAM(GB)    operation_mode                            BufferManagerName                                                 buffersize     count      timeout
     list[0] =        0;              0x8021;         MultiCameraCustomDualSAT_com.arcsoft.node.smooth_transition1_OutputPortId0;              24403968;       10;          1    #60fps 4k
     list[1] =        0;              0x8021;         PortTargetBuffer_RealTimeMCX:FULL_1;                                                     24403968;        8;          1    #60fps 4k
     list[2] =        0;              0x8021;         MultiCameraRealtime1_IFE0_OutputPortId8_RDI0;                                            12032000;        6;          1    #60fps 4k
     list[3] =        0;              0x8021;         MultiCameraCustomDualSAT_com.qti.node.gpu2_OutputPortId1;                                 1572864;       10;          1    #60fps 4k
     list[4] =        0;              0x8021;         PortTargetBuffer_RealTimeMCX:DS4_1                                                        1572864;        2;          1    #60fps 4k


[AllocatebufferinAdvance]
    isSupport = TRUE
    BatchedFramesSIZE = 1572864000
    LOW_MEMORY_THRESHOLD = 3

[RecordLockCPU]
    isSupport = TRUE
