service vendor.pixelworks.hardware.display /odm/bin/hw/vendor.pixelworks.hardware.display.iris-service
    class hal animation
    user system
    group graphics drmrpc
    capabilities SYS_NICE
    onrestart restart surfaceflinger
