# Copyright (c) 2018 Qualcomm Technologies, Inc.
# All Rights Reserved.
# Confidential and Proprietary - Qualcomm Technologies, Inc.

# Create the directories used by DPM subsystem

on post-fs-data
    mkdir /data/dpm 0771 system system
    chown system system /data/dpm

#start dpmd service
service dpmd /system/bin/dpmd
    class late_start
    socket dpmd stream 660 root system
    socket tcm  stream 660 root inet
    socket dpmwrapper stream 660 root inet
    group system readproc inet radio wakelock oem_2901
