service dpmd /system/bin/dpmd
    class late_start
    socket dpmd stream 660 root system
    socket tcm  stream 660 root inet
    socket dpmwrapper stream 660 root inet
    group system readproc inet radio wakelock oem_2901
